@import "tailwindcss";

:root {
	--primary-active: #4b8633;
	--background: #f5f5f5;
	--foreground: #142030;
	--main-color: #345f22;
	--google-color-background: #1b72e8;
	--line-color-background: #3aad42;
	--primary-background: #e9ffe0;
	--input-bg: #2a2e3d;
	--input-border: #3b4252;
	--primary-hover: #bffcad;
}

@theme inline {
	--color-primary-active: var(--primary-active);
	--color-primary-btn-hover: var(--primary-hover);
	--color-background: var(--background);
	--color-primary: var(--main-color);
	--color-foreground: var(--foreground);
	--font-roboto: var(--font-roboto);
	--color-primary-background: var(--primary-background);
	--color-input-background: var(--input-bg);
	--color-input-border: var(--input-border);
}

.main-color-gradient {
	background: #7ed957;
	background: linear-gradient(90deg, #7ed957 0%, #74e000 100%);
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.main-color-gradient:hover {
	background: linear-gradient(90deg, #7ed957, #7ed957);
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
	background: #f5f5f5;
	z-index: 0;
}

.two-line-ellipsis {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}
